body,
html {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  gap: 0.625%;
}

a {
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  color: black;
}

a:link {
  background: orange;
  color: black;
a:visited,
a:focus {
  background: darkred;
  color: white;
}

a:hover {
  background: darkred;
}

a:active {
  background: darkred;
  color: white;
}
